img {
width: 25%;
height: 25%;
}

body {
  background-color: #574AE2;
}

h1, h2 {
  color: #222A68;
  text-align: center;
}

h3, h4 {
	color: #AB81CD;
    font-size: 20px;
    font-family: verdana;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: #E2ADF2;
}

article {
  p.outset {border-style: outset;}
}
